:root {
  --orange:rgb(255,180,40);
  --grey:rgb(45, 50, 53);
  --header:rgba(45,50,53,0.5);
  --darkorange:rgb(200, 130, 40);
  --lightgrey:rgb(200,200,200);
}

#x {
  position:relative;
  right:-360px;
  top:-110px;
  width:40px;
  height:40px;
  border-width:5px; 
  border-color: var(--orange);
  border-radius:50%;
  background-color:var(--grey);
  color: var(--orange);
  font-size:15pt;
}

.padding {
  display:block;
  overflow:none;
}


#eastereggimage {
  width:40px;
  height:43px;
  margin-bottom:-2px;
  margin-left:-1px;
      image-rendering: pixelated;
}

#easteregg {
  left:0;
  margin-left:20px;
  margin-top:100px;
  height:60px; 
  width:60px; 
  position:fixed;
  border-style:solid;
  border-width:4px;
  border-color:var(--orange);
    background-color:var(--grey);
  border-radius:50%;
  z-index:1;
}

.runnerbackground {
  display:block;
  margin-top:-20px;
  position:fixed;  
  width:150%;
  height:150%;
  background-color:rgba(30,30,30,0.7);
  z-index:6;
  margin-left: -200%;
}

.show3 {
  margin-left:0px;
}


#actualrunner {
  width:600px;
  height:400px;
  padding:50px;
  margin-top:-200px;
}

.runnergame {
  border:solid;
  border-width:15px;
  border-radius:2%;
  display:block;
  position:fixed;
  font-size:7em;
  color:rgb(255, 180, 40);
  visibility:hidden;
  z-index:7;
  
  width:700px;
  margin-left:-350px;
  left:50%;
  background:rgb(45, 50, 53);
  
  height:450px;
  margin-bottom:-200px;
  bottom:50%;
}



li {
  line-height:1.5em;
}

ol {
  padding-left: 0.3em;
  margin-left: 1px;
  list-style-type: upper-roman;
}

ol ol {
  margin-left: 10px;
  list-style-type: decimal;
}

ol ol ol {
  margin-left: 15px;
  list-style-type: lower-roman;
  list-style-color:red;
}

/* Popup container */
.popup {
  position: fixed;
  display: block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popuptext {
  display: block;
  vertical-align: middle;
  position: fixed;
  visibility: hidden;
  width: 25%;
  background-color: rgb(53, 56, 59);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  left: 60px;
  margin-left: -80px;
  margin-top: -30px;
  height: 100%;
  overflow-y: scroll;
  overflow-wrap: normal;
  z-index: 3;
}

/* Popup arrow */
/*.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.show {
  visibility: visible;
  z-index: 1;
}

.show2 {
  visibility: visible;
}

.shift {
  margin-left: 25%;
}

.middle {
  display: block;
  vertical-align: middle;
}

button {
  padding: 0 0 0 0;
}

.anchor {
  display: block;
  height: 30px; /*same height as header*/
  margin-top: -30px; /*same height as header*/
  visibility: hidden;
}

.diceButton {
  background-color: rgba(40, 45, 50);
  padding: 15px 32px;
  text-align: center;
  color: orange;
  border-radius: 10%;
  border-color: orange;
  font-size: 20px;
}

#button {
  position: fixed;
  display: block;
  margin-left: 20px;
  margin-top: 14px;
  width: 60px;
  height: 60px;
  background: var(--orange);
  z-index: 4;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
  border-radius: 50%;
  border:none;
}

.bar1,
.bar2,
.bar3 {
  background: var(--grey);
  width: 25px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
}

.bar1 {
  margin-top: -2px;
}

.bar2 {
  margin-top: 6px;
}

.bar3 {
  margin-top: 6px;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: var(--grey);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.neutral,
.red,
.blue,
.green,
.purple,
.white,
.yellow {
  color: white;
}

.red,
.blue,
.green,
.purple,
.white,
.yellow,
.white,
.neutral {
  padding: 2px;
}

.red:before,
.blue:before,
.green:before,
.purple:before,
.white:before,
.yellow:before,
.neutral:before {
  content: "◼︎";
}

.neutral:before {
  color: rgb(100, 100, 100);
}

.red:before {
  color: rgb(170, 80, 80);
}

.blue:before {
  color: rgb(60, 110, 180);
}

.green:before {
  color: rgb(100, 150, 100);
}

.purple:before {
  color: rgb(140, 130, 200);
}

.white:before {
  color: white;
}

.yellow:before {
  color: rgb(255, 180, 100);
}

details {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  color: rgb(150, 150, 150);
  font-size: 1.3em;
  width: 100%;
  text-align: left;
  margin-left: 1em;
}

.full {
  width: 190%;
  margin-left: -50%;
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

ol {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

.habre {
  width: 353px;
  border: 10px solid rgb(255, 150, 0);
}

.goukouni {
  width: 221.5px;
  border: 12px solid rgb(255, 150, 0);
}

.table {
  color: rgb(200, 100, 70);
  margin-left: 15px;
}

@media only screen and (max-device-width: 1000px) {
  .habre {
    width: 142px;
    border: 10px solid rgb(255, 150, 0);
  }

  .goukouni {
    width: 89px;
    border: 11px solid rgb(255, 150, 0);
  }
}

@media only screen and (max-device-width: 1000px) {
  .full {
    width: 120%;
    margin-left: -18%;
    image-rendering: pixelated;
  }
}

.pixelate {
  image-rendering:pixelated;
}

.unitTypes {
  width: 70px;
}

.unitID {
  width: 221px;
}

summary {
  margin-left: -1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media only screen and (max-device-width: 1000px) {
  body {
    width: 100%;
  }
}

.embed {
  width: 90%;
}

.arabic {
  font-size: 0.3em;
  font-family: Cairo;
  color: var(--darkorange);
  font-stretch: ultra-expanded;
}

.toyota {
  width: 410px;
  margin-left: 2em;
  image-rendering: pixelated;
  z-index: 2;
}

strong {
  color:var(--orange);
}

@media only screen and (max-device-width: 1000px) {
  .toyota {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    margin-top: -4.5em;
    margin-bottom: -3em;
    image-rendering: pixelated;
    z-index: 2;
  }
}

p {
  font-weight: normal;
  line-height: 1.5em;
}

.chad {
  color: rgb(255, 180, 40);
  font-size: 90pt;
  font-family: "Holtwood One SC", serif;
  line-height: 0.4em;
  margin-bottom: -0.2em;
  margin-top: 0.7em;
  /**background-color:rgb(100,70,0);**/
}

@media only screen and (max-device-width: 1000px) {
  .chad {
    color: rgb(255, 180, 40);
    font-size: 65pt;
    font-family: "Holtwood One SC", serif;
    line-height: 0.4em;
    margin-top: 1.4em;
    /**background-color:rgb(100,70,0);**/
  }
}

.wars {
  color: rgb(255, 180, 40);
  font-family: "Coda", cursive;
  font-size: 45px;
  line-height: 0.5em;
  margin-top: 1em;
  margin-bottom: -0.5em;
}

@media only screen and (max-device-width: 1000px) {
  .wars {
    color: rgb(255, 180, 40);
    font-family: "Coda", cursive;
    font-size: 33px;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.manta {
  display: block;
  color: rgb(255, 180, 40);
  width: 100%;
  font-size: 30px;
  font-family: helvetica;
  background-color: var(--grey);
  z-index: 1;
  height: 60px;
  line-height: 60px;
  margin-top: -150px;
}

@media only screen and (max-device-width: 1000px) {
  .manta {
    font-size: 24px;
    margin-top: -110px;
  }
}


@media (max-width: 420px) {
  .runnergame {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

h1 {
  margin-top: 3em;
  text-align: left;
  font-family: Raleway, sans-serif;
  font-style: light;
  color: rgb(255, 180, 40);
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media only screen and (max-device-width: 1000px) {
  h1 {
    font-size: 30px;
  }
}

h1::before {
  content: "★ ";
  font-size: 1em;
  margin-left: -1em;
}

h2::before {
  content: "☆ ";
  font-size: 0.9em;
  margin-left: -1em;
}

h2 {
  text-align: left;
  font-family: helvetica;
  color: rgb(255, 180, 40);
  font-size: 32px;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-variant: small-caps;
}

@media only screen and (max-device-width: 1000px) {
  h2 {
    font-size: 27px;
  }
}

h3 {
  font-weight: bold;
  text-align: left;
  font-family: helvetica;
  color: rgb(255, 180, 40);
  font-size: 29px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-variant: small-caps;
}

@media only screen and (max-device-width: 1000px) {
  h3 {
    font-size: 25px;
  }
}

h4 {
  text-align: left;
  font-weight: normal;
  color: rgb(255, 180, 40);
  font-family: helvetica;
  font-size: 25px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-variant: small-caps;
}

@media only screen and (max-device-width: 1000px) {
  h4 {
    font-size: 23px;
  }
}

h5 {
  color: white;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 1.35em;
  font-weight: normal;
  text-align: left;
}

summary {
  color: white;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 1em;
  font-weight: normal;
  text-align: left;
}

p,
li {
  color: rgb(150, 150, 150);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
  font-size: 20px;
}

@media only screen and (max-device-width: 1000px) {
  p,
  li {
    color: rgb(150, 150, 150);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
    font-size: 16px;
  }
}

img {
  width: 0px;
}

a {
  text-decoration:none;
}

.instructions a {
  color: white;
}
  
.contents a {
    color: var(--darkorange);
  }

table {
  margin-right: auto;
  margin-left: auto;
  width: 12%;
  top: 1em;
  font-variant: normal;
}

td {
  padding: 10px;
}

@media only screen and (max-device-width: 1000px) {
  table {
    margin-right: auto;
    margin-left: auto;
    width: 30%;
  }
}

.normal {
  color: white;
  text-decoration: none;
  margin-left: 0;
  width: 100%;
  font-size: 20px;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.grey {
  color: rgb(100, 100, 100);
}

.orange {
  color: rgb(255, 180, 40);
  font-size: 110%;
}

.smallcaps {
  font-variant: small-caps;
  font-size: 1.3em;
}

.dice {
  position: fixed;
  width: 100%;
  height: 12%;
  background-color: var(--grey);
  bottom: 0;
  z-index: 2;
}

.shiftdice {
  width: 73%;
}

.die {
  margin-right: auto;
  margin-left: auto;
}

.die1 {
  font-size: 32px;
  font-weight: bold;
  color: rgb(255, 180, 40);
  text-align: center;
}

.die2 {
  font-size: 32px;
  font-weight: bold;
  color: rgb(255, 180, 40);
  text-align: center;
}

.invisible {
  opacity: 0;
}

.status {
  color: rgb(255, 180, 40);
  font-size: 0px;
  text-align: center;
  width: 32px;
  margin: 5px;
  float: right;
}

.hundred {
  width: 500px;
}

.thirty {
  width: 20px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  vertical-align: middle;
}

.impact {
  font-family: impact;
}

.instructions {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-device-width: 1000px) {
  .instructions {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.center {
  text-align: center;
  margin-right:auto;
  margin-left:auto;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: arial;
  width: 40%;
}

code {
  background: rgb(255, 255, 255, 0.1);
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  padding-right: 0.25em;
  padding-left: 0.25em;
  font-size: 100%;
}

@media only screen and (max-device-width: 1000px) {
  .intro {
    margin-left: auto;
    margin-right: auto;
    font-family: times;
    font-style: italic;
    width: 80%;
  }
}

.contents {
  display: block;
  height: 700px;
  width: 75%;
  text-align: left;
  line-height: 1.3em;
  margin-right: 1em;
  margin-left:3.5em;
  margin-top:40%;
  vertical-align:center;
}

.contents2 {
  margin-left: 1.5em;
}

.contents3 {
  margin-left: 1.5em;
}

.buttons {
  position: fixed;
  right: 20px;
  top: 20px;
}

@media only screen and (max-device-width: 1000px) {
  .buttons {
    width: 0%;
  }
}

.hover:hover {
  transform: scale(1.1);
}

.icon {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

.icon-offline {
  content: -webkit-image-set( url(https://cdn.glitch.com/31b24809-ad76-4840-a02c-f096c4c608e1%2F100-error-offline.png?v=1571413954644) 1x, url(https://cdn.glitch.com/31b24809-ad76-4840-a02c-f096c4c608e1%2F200-error-offline.png?v=1571413960416) 2x);
  position: relative;
}

.hidden {
  display: none;
}

/* Offline page */

.offline .interstitial-wrapper {
  color: #2b2b2b;
  font-size: 1em;
  line-height: 1.55;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 100px;
  width: 100%;
}

.offline .runner-container {
  height: 300px;
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 35px;
  width: 44px;
}

.offline .runner-canvas {
  height: 300px;
  max-width: 6000px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 2;
}

.offline .controller {
  background: rgba(247, 247, 247, 0.1);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#offline-resources {
  display: none;
}

@media (max-width: 420px) {
  .suggested-left > #control-buttons,
  .suggested-right > #control-buttons {
    float: none;
  }
  .snackbar {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-height: 350px) {
  h1 {
    margin: 0 0 15px;
  }
  .icon-offline {
    margin: 0 0 10px;
  }
  .interstitial-wrapper {
    margin-top: 5%;
  }
  .nav-wrapper {
    margin-top: 30px;
  }
}

@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
  .offline .interstitial-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 420px) and (max-width: 736px) and (min-height: 240px) and (max-height: 420px) and (orientation: landscape) {
  .interstitial-wrapper {
    margin-bottom: 100px;
  }
}

@media (min-height: 240px) and (orientation: landscape) {
  .offline .interstitial-wrapper {
    margin-bottom: 90px;
  }
  .icon-offline {
    margin-bottom: 20px;
  }
}

@media (max-height: 320px) and (orientation: landscape) {
  .icon-offline {
    margin-bottom: 0;
  }
  .offline .runner-container {
    top: 10px;
  }
}

@media (max-width: 240px) {
  .interstitial-wrapper {
    overflow: inherit;
    padding: 0 8px;
  }
}

